<div class="user-selected-panel ml-4 p-2 h-16 flex justify-between items-center rounded-3xl bg-white mt-4">
    <div class="user-info flex justify-center items-center gap-3 ml-4">
        <div class="user-img w-10 h-10 bg-neutral-300 rounded-full overflow-hidden">
     <img src="assets/user-avatar.jpg">
        </div>
        @if (selectedUser) {
            <div class="user-name font-medium flex flex-col">
                <p class="text-black">{{selectedUser}}</p>
                <span class="text-xs">last seen 5 min ago</span>
            </div>
        }
    </div>
    <div class="setting-icon mr-4 flex gap-4">
        <i class="fa-solid fa-magnifying-glass fa-lg cursor-pointer" style="color: #64A5FF;"></i>
        <i class="fa-solid fa-ellipsis fa-lg cursor-pointer" style="color: #64A5FF;"></i>
    </div>
</div>