.user-selected-panel{
    width: 75vw;
}
@media only screen and (max-width:1000px) {
    .user-selected-panel{
        width: 95vw;
    }
    .icon{
        display: block;
    }
  }

  .icon{
    z-index: 1000;
  }

