<div class="main-layer h-screen flex">
    <app-copy-panel></app-copy-panel>
    <div class="texts-wrapper flex  flex-col justify-center items-center">
        <div class="texts w-80">
        <div class="first">
            <span class="galaxy">Galaxy</span>
            <span class="talk">Talk</span>
            <span class="dot">.</span>
        </div>
        <span class="slogan">Where cosmic connections come 
            to life. Explore the universe, 
            chat with friends, and reach for
             the stars - all in one app.</span>
    </div>
</div>
</div>
