@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.main-layer{
    background-image: url("../../../assets/Artboard_1.png");
    /* background-size: contain; */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.galaxy{
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    color: rgb(30, 30, 30);
}

.talk{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(30, 30, 30);
}

.dot{
    color: #64A5FF;
    font-size: 100px;
}

.texts-wrapper{
    align-self: center;
    width: 100rem;
    height: 20rem;
   height: 100vh;
}

.slogan{
    color: rgb(85, 85, 85);
    font-weight:500;
}


@media only screen and (max-width:1000px){
    .texts-wrapper{
        display: none;
    }
}