<style>
  .underline-textarea {
    border: none;
    border-bottom: 0.5px solid rgb(147, 144, 144);
    resize: none;
    width: 80%;
    padding: 8px 0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    background-color: transparent;
    margin-right: 80px;
    color: #000;
    padding-bottom: 0px;
  }


  .login-link {
    color: #64a5ff;
  }

  .fa-google {
    color: rgb(255, 81, 0);
  }

  .fa-facebook {
    color: blue;
  }

  .txt-btn p {
    color: #0000;
    font-family: Yinmar;
    font-size: 13.98px;
  }

  .eye-icon {
    position: relative;
    bottom: 12px;
    left: 80%;
    transform: translateY(-50%);
  }

  .error-message {
    color: red;
  }

  @media screen and (max-width: 1300px) {
    .btn {
      width: 45%;
      margin-left: 0;
      margin-right: 0;
      height: 70%;
      margin: 10px;
      padding: 5px;
    }
    #btns {
      width: 100%;
      margin-left: 0;
      margin-right: 0px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 766px) {
    .btn {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>

<div class="h-screen py-[3%] bg-gray-200 overflow-auto md:overflow-hidden">
  <div class="w-9/12 mx-auto">
    <div
      class="flex flex-col md:flex-row bg-white rounded-xl shadow-lg overflow-hidden"
    >
      <div class="mt-10 w-full md:w-1/2">
        <img src="assets/pic1.jpg" alt="Placeholder Image" />
      </div>

      <div class="w-full md:w-1/2 px-6 py-8">
        <h2
          class="text-black text-2xl font-bold ml-4 mt-4 md:mt-0 mb-4 md:mb-8 font-Alef"
        >
          Create Account
        </h2>

        <div
          class="flex flex-col md:flex-row justify-center md:justify-start mb-8 md:mr-14"
        >
          <button
            class="btn flex items-center mr-5 mb-4 md:mb-0 bg-white rounded-md border border-gray-400"
          >
            <i class="fa-brands fa-google"></i>
            <p class="ml-3 txt-btn">Sign up with Google</p>
          </button>

          <button
            class="btn flex items-center bg-white rounded-md border border-gray-400"
          >
            <i class="fa-brands fa-facebook"></i>
            <p class="ml-2 txt-btn">Sign up with Facebook</p>
          </button>
        </div>

        <p class="ml-4 md:ml-0 mt-5 mb-5 text-center" id="or">- OR -</p>

        <form (submit)="Add(name.value,email.value, password.value)" class="form mx-6" [formGroup]="signupValidation">

          <div  class="form-group mx-5 mt-2">
            <input
              #name
              formControlName="name"
              type="text"
              name="name"
              placeholder="Name"
              class="form-control bg-white text-black focus focus:outline-none border-b-2 w-full h-10"
            />
          </div>
          @if(name.value && !NameValid){
            <span class="ml-5 text-red-500 " >name Required</span>
          }
          <div  class="form-group mx-5 mt-2">
            <input
              #email
              formControlName="email"
              type="email"
              name="email"
              placeholder="Email"
              class="form-control bg-white text-black focus focus:outline-none border-b-2 w-full h-10"
            />
          </div>
          @if(email.value && !EmailValid){
            <span class="ml-5 text-red-500 " >Email Required</span>
          }
          <div class="form-group mx-5 mt-5 flex content-center">
            <input
              #password
              formControlName="password"
              type="password"
              name="email"
              placeholder="Password"
              class="form-control bg-white text-black focus:outline-none border-b-2 w-full h-10"
              [type]="changeType ? 'Password' : 'text'"
            /><span
            class="img fw-bold text-muted"
            (click)="showPassword()"
            ><i
              class="relative right-3 top-3"
              [ngClass]="
                visible
                  ? 'fa-solid fa-eye-slash'
                  : 'fa-solid fa-eye'
              "
            ></i
          ></span>
          </div>
          @if(password.value && !PassValid){
            <span class="ml-5 text-red-500 ">At least 8 characters</span>
          }
          <div class="mx-5 mt-3 ">
            <input type="checkbox" id="remember" name="remember" value="remember" class="mr-2 ">
            <label for="remember">Remember me</label>
          </div>
          <div class="mx-5 mt-5 form-group">
            <input  class=" bg-[#64A5FF] rounded text-xl font-bold text-white h-10 w-full transition ease-out-in delay-100 hover:-translate-y-1 hover:scale-103 hover:duration-100 ..." value="Sign Up" type="submit">

          </div>
        </form>

        <div class="box text-center">
          <p class="ml-4 md:ml-0 mt-5">
            Already have an account?<span class="login-link ml-1"
              ><a routerLink="/login">Log in</a></span
            >
          </p>
          <p
            class="ml-4 md:ml-0 mt-6 text-black font-bold font-urbasnit"
            id="GalaxyTalk"
          >
            GalaxyTalk
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
