<div class="chat-box-wrapper bg-white ml-4 rounded-3xl flex flex-col justify-end">
<div class="sender flex ml-3">
    <div class="user-pic w-10 h-10 bg-neutral-300 rounded-full mr-2">
        <!-- img-here -->
    </div>
    <div class="user-sender w-96 h-14 h-fit bg-neutral-300 mb-3 pl-4 pt-4 pr-4 pb-2">
        <span class="text-neutral-900">hello.</span>
        <p class="text-xs mt-2 text-neutral-500 text-right">18:55 pm</p>
    </div>
</div>
<div class="receiver flex justify-end mr-3">
    <div class="user-receiver w-96 h-fit bg-neutral-300 mb-3 text-neutral-900 pt-4 pl-4 pr-4 pb-2">
        <span class="text-white">Hi there i was trying to reach you yazmele enta fen delw2ty 3shan 3ayzak</span>
        <p class="text-xs mt-2 text-neutral-200 text-right">18:55 pm</p>
    </div>
    <div class="user-pic w-10 h-10 bg-neutral-300 rounded-full flex-end ml-2">
        <!-- img-here -->
    </div>
</div>
</div>
