.chat-box-wrapper{
  width: 75vw;
  height: 80vh;
}

.scroll{
  overflow-y: auto;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
} 

*::-webkit-scrollbar-thumb {
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
}



@media only screen and (max-width:1000px) {
  .chat-box-wrapper{
    width: 95vw;
    height: 80vh;
}
}



