







<div class="chat-container">



    <div class="upperInChat">


        <div class="left">
        <img src="../../../assets/user1.png" alt="" id="theother">
              
        <p style="font-size: smaller;">last seen 5 mins ago</p>
    </div>
    
        <div class="right">
    
     
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    
    </div>
    





    
    <div class="first chat-message">
        <img src="../../../assets/user1.png" alt="" id="theother">
        <input type="text" placeholder="Type your message...">
    </div>
    <div class="second chat-message">
        <input type="text" placeholder="Type your message...">
        <img src="../../../assets/user2.png" alt="" id="me">

    </div>
</div>
