<div class="user-panel-wrapper">
    <div class="user-info-panel p-2 w-80 h-16 flex justify-between items-center rounded-2xl bg-white">
        <div class="user-info flex justify-center items-center gap-3 ml-4">
            <div class="user-img w-10 h-10 bg-zinc-400 rounded-md">
                <!-- image here -->
            </div>
            <div class="user-name font-sans font-medium">
                <p>Ahmed Sayed</p>
            </div>
        </div>
        <div class="setting-icon mr-4">
            <i class="fa-solid fa-gear"></i>
        </div>
    </div>
    <div class="users-list-panel"></div>
</div>
