<section class="h-full py-14 bg-[#eee] flex justify-center content-center ">
  <div class="w-9/12 h-full  bg-white rounded-3xl flex flex-row shadow-xl	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);">
    <div class="w-1/2 ">
        <div class="flex justify-center gap-1 mt-5">
          <h1 class="text-black text-2xl font-bold">GalaxyTalk</h1>
          <p class="text-black text-base pt-1">Chat Website</p>
        </div>
        <div class="ml-10">
          <h2 class="text-xl font-bold text-black mt-20 mb-8">Log In</h2>
        </div>


        <form class="mx-6">
          <div  class="mx-5 mt-2">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="bg-white focus focus:outline-none border-b-2 w-full h-10"
            />
          </div>

          <div class="mx-5 mt-5">
            <input
              type="password"

              
              name="email"
              placeholder="Password"
              class="bg-white focus:outline-none border-b-2 w-full h-10"
            />
          </div>
          <div class="mx-5 mt-3">
            <input type="checkbox" id="remember" name="remember" value="remember" class="mr-2">
            <label for="remember">Remember me</label>
          </div>
          <div class="mx-5 mt-5">
            <button class="bg-[#64A5FF] rounded text-white h-10 w-full ">Log In</button>
          </div>
        </form>
        <div class="text-center mt-5 mb-5">
          <p>Don't have an account <a routerLink="/register" class="text-[#64A5FF]">Sign Up</a></p>
        </div>


    </div>
    <div class="w-1/2 relative  flex">
      <img src="assets/pic3.jpg" class="h-full w-full rounded-3xl" alt="">
    </div>

  </div>
</section>
